@charset "UTF-8";
/*
    Eric Meyer Reset
    ======================================================================
    Reset all elements on the page without default padding/margins, etc.
    http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
    Box Sizing Reset
    ======================================================================
    http://www.paulirish.com/2012/box-sizing-border-box-ftw/
    Apply a natural box layout model to all elements, but allowing
    components to change if needed (use sparingly)
*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*
    Responsive
    ======================================================================
*/

@media only screen and (max-width: 760px){
    header {
      width: 100% !important;
      padding-top: 10px !important;
    }

    header .headWrap {
      padding-top: 0px !important;
      min-width: 0px !important;
      width: 100% !important;
    }

    header .headLeft, header .headRight {
      padding-top: 0px !important;
      width: 100%;
      display: inline-block;
      text-align: center;
      position: initial;
      margin-bottom: 5px;
    }

    header .headLeft h1 {
      font-size: 3em;
    }

    header .headRight {
    	padding-left: 0px;
    }

    .anchor {
    	top: 0px;
    }

    .nav, .navItems {
      display: inline-block !important;
    }

    .nav, .navItems, .navItem {
      width: 100% !important;
    }

    .navItems {
    	margin: 0px;
    }

    .navItem{
    	margin: 8px 0px 8px 0px; 
    }

    .main {
      width: 90% !important;
    }

    .resSectionHead {
    	width: 100% !important;
    	float: left;
    	display: inline-block;
    }

    .resSection .job {
    	width: 100% !important;
    	float: left;
    	display: inline-block;
    }

    .sticky {
    	display: none !important;
    }

    .replacing {
    	position: fixed;
    	top: 0;
    	right: 0;
    	z-index: 100;
    	display: block !important;
    }

    .replacing svg {
    	fill: #D6D6D6;
    	fill-opacity: 0.6;
    	height: 50px;
    }
}

@media only screen and (min-width: 761px) and (max-width: 900px){
	.nav {
		width: 100% !important;
	}

	.navItems {
		width: 100% !important;
	}
}

/* 
	Global
	======================================================================
*/

h1, h2, h3, h4, h5 {
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
}

h2 {
	font-size: 1.3em;
}

h3, h4, h5 {
	font-size: 1.2em;
}

p {
	font-family: 'Andada', serif;
	font-size: 1.1em;
	font-weight: 400;
	color: #333;
}

li {
	font-family: 'Andada', serif;
	font-size: 1.1em;
	font-weight: 400;
	color: #333;
}

a {
	color: #278FDE;
	text-decoration: none;
}

a:hover {
	color: #61BBFF;
	text-decoration: none;
}

footer p, .navItems p {
	font-family: 'Oxygen', sans-serif;
}

.horizCenter {
	width: 100%;
	background-color: #D6D6D6;
	text-align: center;
	padding: 5px 0px 5px 0px;
}

/* 
	Header
	======================================================================
*/

header {
	width: 100%;
	text-align: center;
}

header .headWrap {
	padding-top: 30px;
	padding-bottom: 10px;
	width: 70%;
	min-width: 760px;
	height: auto;
	margin: 0px auto;
	display: inline-block;
}

.headLeft {
	padding-top: 37px;
	padding-right: 10px;
	width: 49%;
	text-align: right;
	display: inline-block;
}

.headLeft h1 {
	font-size: 3em;
	color: #333;
	text-decoration: none;
}

.headLeft h1:hover{
	color: #61BBFF;
}

.headRight {
	float: right;
	width: 49%;
	text-align: left;
	padding-left: 10px;
}

#headShot {
	width: 175px;
	height: auto;
	border-radius: 4px;
}

/* 
	Nav
	======================================================================
*/

.nav {
	width: 70%;
	margin: 0 auto;
}

.nav hr.divider {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.navItems {
	width:50%;
	margin: 0 auto;
	padding: 5px 0px 5px 0px;
}

.navItem {
	text-align: center;
	width: 32%;
	display: inline-block;
}

.sticky {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	background-color: rgba(255,255,255,0.85);
}

.spacing {
	height: 63px;
}

#hamburger {
	display: none;
}

#mobileNav {
	position: fixed;
	top: 0;
	z-index: 99;
	background-color: #fff;
	height: auto;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	display: none;
}

/* 
	Main Content
	======================================================================
*/

.container {
	min-height: 340px;
	height: auto;
}

.main {
	width: 60%;
	margin: 20px auto 40px auto;
}

.main h2, .main p {
	line-height: 1.3em;
	padding-bottom: 10px;
}

.main .section {
	margin-bottom: 20px;
}

.main .section p {
	padding-bottom: 0px;
	text-indent: -10px;
	margin-left: 10px;
}

span.em {
	font-style: italic;
}

.sectionWrap {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}

#odd {
	background-color: #fff;
}

#even {
	background-color: #F7F7F7;
}

.anchor {
	display: block;
	position: relative;
	top: -63px;
	visibility: hidden;
}

/* 
	CTA
	======================================================================
*/

.cta {
	margin: 20px 0px 20px 0px;
	width: 100%;
}

.cta #emailButton {
	width: auto;
	margin: 0 auto;
	padding: 10px 0px 10px 0px;
	text-align: center;
	border: 1px solid #278FDE;
	border-radius: 2px;
	color: #278FDE;
}

.cta #emailButton h2 {
	padding-bottom: 0px;
}

.cta #ctaArrows {
	display: inline;
	height: 1.2em;
	fill: #278FDE;
}

.cta div:hover{
	border: 1px solid #61BBFF !important;
	border-radius: 2px;
	background-color: #61BBFF;
	color: #fff !important;
}

.cta div:hover #ctaArrows{
	fill: #fff !important;
}

/* 
	Contact
	======================================================================
*/

.contact {
	text-align: left;
	list-style-type: none;
	font-size: 1.1em;
	line-height: 1.3em;
}

.contact li {
	margin-top: 5px;
}

.icon {
	fill: #278FDE;
	height: 1.4em;
	margin-right: 5px;
}

.contact a:hover svg {
	fill: #61BBFF;
}

/* 
	Resume
	======================================================================
*/

.resSection {
	width: 100%;
	display: inline-block;
}

.resSectionHead {
	width: 20%;
	float: left;
	display: inline-block;
}

.resSection .company h3{
	line-height: 1.3em;
	font-size: 1.3em;
}

.resSection .copy {
	padding-left: 30px;
}

.resSection .info p{
	padding-bottom: 0px;
}

.resSection .info, .resSection .copy, .resSection .job {
	margin-bottom: 10px;
}

.resSection .job {
	width: 80%;
	float: right;
	display: inline-block;
}

.resSection .copy ul {
	list-style-type: none;
}

.resSection .copy li {
	font-family: 'Andada', serif;
	font-size: 1.1em;
	font-weight: 400;
	color: #333;
	line-height: 1.3em;
	padding-bottom: 5px;
}

.resWrap hr.divider {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}